@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');
body{
    font-family: 'Mukta', sans-serif;
}
#painel_contato{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#painel_contato2{
    background-color: rgba(119, 145, 247, 0.2);
    padding: 10px;
}
#painel_contato form{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
#card1{
    background-image: url('/img/bruxa.png');
    background-repeat: no-repeat;
}
#card2{
    background-image: url('/img/magica.png');
    background-repeat: no-repeat;
}
#card3{
    background-image: url('/img/mago2.png');
    background-repeat: no-repeat;
    
}
.card:hover{
    transition-timing-function: ease;
    transition-duration: 1s;
    opacity: 0.85;
    box-shadow: 11px 10px 38px -12px rgba(46,171,255,1);
}
.texto-sobre{
    text-shadow: 4px 4px 8px rgba(181,50,236,0.6);
}
#rede-sociais{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
footer img{
    margin: 10px;
    width: 40px;
    transition: all 0.3s;
}

footer img:hover{
	transform: scale(1.1);
}