@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');
body{
    font-family: 'Mukta', sans-serif;
}
#painel_contato{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#painel_contato2{
    background-color: rgba(119, 145, 247, 0.2);
    padding: 10px;
}
#painel_contato form{
    padding: 10px;
    display: flex;
    flex-direction: column;
}